BR2_arm=y
BR2_cortex_a9=y
BR2_ARM_ENABLE_NEON=y
BR2_ARM_ENABLE_VFP=y
BR2_ARM_FPU_NEON=y
BR2_SVN="svn"
BR2_KERNEL_MIRROR="http://www.kernel.org/pub"
BR2_GNU_MIRROR="http://ftp.gnu.org/pub/gnu"
BR2_LUAROCKS_MIRROR="http://luarocks.org/repositories/rocks"
BR2_JLEVEL=4
BR2_OPTIMIZE_3=y
BR2_PACKAGE_OVERRIDE_FILE="$(TOPDIR)/local.mk"
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PATH="$(TOOLCHAIN_PATH)"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="arm-linux-gnueabihf"
BR2_TOOLCHAIN_EXTERNAL_GCC_8=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_19=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TARGET_OPTIMIZATION="-pipe"
BR2_TARGET_GENERIC_HOSTNAME="default-hostname"
BR2_TARGET_GENERIC_ISSUE="default-issue"
BR2_TARGET_GENERIC_PASSWD_SHA512=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_TARGET_GENERIC_ROOT_PASSWD="root"
# BR2_TARGET_GENERIC_GETTY is not set
BR2_TARGET_TZ_INFO=y
BR2_TARGET_LOCALTIME="UTC"
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_SBT_OPEN_SOURCE_PATH)/patches/"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_SBT_OPEN_SOURCE_PATH)/board/common/rootfs_overlay/ $(BR2_EXTERNAL_SBT_PROPRIETARY_PATH)/board/green-mango/rootfs_overlay/"
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_SBT_OPEN_SOURCE_PATH)/board/common/busybox.config"
BR2_PACKAGE_BUSYBOX_WATCHDOG=y
BR2_PACKAGE_BUSYBOX_WATCHDOG_PERIOD="45"
BR2_PACKAGE_XZ=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_FSCK_FAT=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_MTD=y
# BR2_PACKAGE_MTD_FLASH_LOCK is not set
# BR2_PACKAGE_MTD_FLASH_UNLOCK is not set
BR2_PACKAGE_MTD_MKFSJFFS2=y
# BR2_PACKAGE_MTD_MTD_DEBUG is not set
# BR2_PACKAGE_MTD_NANDDUMP is not set
# BR2_PACKAGE_MTD_NANDTEST is not set
# BR2_PACKAGE_MTD_MTDINFO is not set
# BR2_PACKAGE_MTD_UBIATTACH is not set
# BR2_PACKAGE_MTD_UBICRC32 is not set
# BR2_PACKAGE_MTD_UBIDETACH is not set
# BR2_PACKAGE_MTD_UBIFORMAT is not set
# BR2_PACKAGE_MTD_UBIMKVOL is not set
# BR2_PACKAGE_MTD_UBINFO is not set
# BR2_PACKAGE_MTD_UBINIZE is not set
# BR2_PACKAGE_MTD_UBIRENAME is not set
# BR2_PACKAGE_MTD_UBIRMVOL is not set
# BR2_PACKAGE_MTD_UBIRSVOL is not set
# BR2_PACKAGE_MTD_UBIUPDATEVOL is not set
# BR2_PACKAGE_MTD_UBIBLOCK is not set
BR2_PACKAGE_LIBWEBSOCKETS=y
BR2_PACKAGE_MOSQUITTO=y
BR2_PACKAGE_FBV=y
# BR2_PACKAGE_FBV_JPEG is not set
# BR2_PACKAGE_FBV_GIF is not set
BR2_PACKAGE_QT5=y
BR2_PACKAGE_QT5BASE_WIDGETS=y
BR2_PACKAGE_QT5BASE_GUI=y
BR2_PACKAGE_QT5BASE_DEFAULT_QPA="linuxfb"
BR2_PACKAGE_QT5BASE_GIF=y
BR2_PACKAGE_QT5SVG=y
BR2_PACKAGE_UBOOT_TOOLS=y
BR2_PACKAGE_UBOOT_TOOLS_MKIMAGE=y
BR2_PACKAGE_UBOOT_TOOLS_MKENVIMAGE=y
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PYTHON3_READLINE=y
BR2_PACKAGE_PYTHON3_SQLITE=y
BR2_PACKAGE_PYTHON_AIOJOBS=y
BR2_PACKAGE_PYTHON_CHARDET=y
BR2_PACKAGE_PYTHON_JSONSCHEMA=y
BR2_PACKAGE_PYTHON_MSGPACK=y
BR2_PACKAGE_PYTHON_PSUTIL=y
BR2_PACKAGE_PYTHON_PYQT5=y
BR2_PACKAGE_PYTHON_UVLOOP=y
BR2_PACKAGE_PYTHON_WATCHDOG=y
BR2_PACKAGE_LIBARCHIVE=y
BR2_PACKAGE_GNUTLS=y
BR2_PACKAGE_SQLITE_ENABLE_JSON1=y
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_LIBDAEMON=y
BR2_PACKAGE_LIBEVDEV=y
BR2_PACKAGE_LIBUNISTRING=y
BR2_PACKAGE_HAVEGED=y
BR2_PACKAGE_CHRONY=y
BR2_PACKAGE_DNSMASQ=y
# BR2_PACKAGE_DNSMASQ_TFTP is not set
BR2_PACKAGE_IPTABLES=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_RSYNC=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_EAP=y
BR2_PACKAGE_WPA_SUPPLICANT_DEBUG_SYSLOG=y
BR2_PACKAGE_WPA_SUPPLICANT_WPS=y
BR2_PACKAGE_FILE=y
BR2_PACKAGE_LOGROTATE=y
BR2_PACKAGE_HTOP=y
BR2_PACKAGE_KMOD=y
BR2_PACKAGE_MONIT=y
BR2_PACKAGE_SWUPDATE=y
BR2_PACKAGE_SWUPDATE_CONFIG="$(BR2_EXTERNAL_SBT_OPEN_SOURCE_PATH)/board/common/swupdate.config"
BR2_PACKAGE_SWUPDATE_INSTALL_WEBSITE=n
BR2_PACKAGE_UTIL_LINUX_LIBMOUNT=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_CPIO_UIMAGE=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,sbtinstruments,linux-xlnx,sbtOS-v2020.03.1).tar.gz"
BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_DEFCONFIG="green_mango"
BR2_LINUX_KERNEL_UIMAGE=y
BR2_LINUX_KERNEL_UIMAGE_LOADADDR="0x8000"
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_INFLUXDB=y
BR2_PACKAGE_INFLUXDB_COMPRESS_BINARIES=y
BR2_PACKAGE_TELEGRAF=y
BR2_PACKAGE_TELEGRAF_COMPRESS_BINARIES=y
BR2_PACKAGE_HOST_PYTHON_CYTHON=y
BR2_PACKAGE_PYTHON_AIOHTTP_SBT=y
BR2_PACKAGE_PYTHON_AIOSQL=y
BR2_PACKAGE_PYTHON_ASYNCQT=y
BR2_PACKAGE_PYTHON_ATTRS_USER=y
BR2_PACKAGE_PYTHON_DAEMON_SBT=y
BR2_PACKAGE_PYTHON_DISTRO=y
BR2_PACKAGE_PYTHON_IDNA_SSL=y
BR2_PACKAGE_PYTHON_JMESPATH=y
BR2_PACKAGE_PYTHON_JSONPATCH=y
BR2_PACKAGE_PYTHON_PY_SPY=y
BR2_PACKAGE_PYTHON_PYMPLER=y
BR2_PACKAGE_PYTHON_RESTRICTEDPYTHON=y
BR2_PACKAGE_RSYSLOG_USER=y
BR2_PACKAGE_PYTHON_BAXTER=y
BR2_PACKAGE_PYTHON_CELLMATE=y
BR2_PACKAGE_PYTHON_DASH=y
BR2_PACKAGE_PYTHON_GEIST=y
BR2_PACKAGE_PYTHON_MASKIN=y
BR2_PACKAGE_PYTHON_MESTER=y
BR2_PACKAGE_PYTHON_RXPY=y
BR2_PACKAGE_ZEUS_CONFIG=y
